body{
    background-color: rgb(230, 227, 227);
}
.logo {
    width:90px;
    display: inline;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 12px;
}

li a:hover {
    background-color: rgb(200, 198, 198);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}
.connexion {
    padding: 15px 20px;
    background-color: rgb(247, 163, 6);
    border-radius: 10px;
    border: none;
    color: white;
}
.connexion:hover {
    background-color: rgb(255, 140, 0);
    cursor: pointer;
    color: black;
}
header {
    border-bottom: #e9e5e5 3px solid;
}

.search-container {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right:40% ;
    background-color: white;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin: 60px auto;
}

.search-input, .search-icon {
    border: none;
    outline: none;
    margin-left: 8px;
    font-size: 20px;
    color: #333333;
}

.Hero > h1 {
    text-align: center;
    background: rgb(236, 234, 234);
    margin: auto;
    padding: 1%;
    width: fit-content;
}
.Hero > h2 ,p {
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.explorer{
    padding: 15px 20px;
    background-color: rgb(247, 163, 6);
    border-radius: 10px;
    border: none;
    color: white;
}

.explorer:hover {
    background-color: rgb(255, 140, 0);
    cursor: pointer;
    color: black;
}
.view-CER {
    position: relative;
    overflow: hidden;
    padding: 15px 20px;
    background-color: rgb(251, 250, 248);
    border-radius: 10px;
    border: none;
    color: black;
    transition: background-color 0.8s, color 0.8s;
}
.view-CER:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.Hero {margin: 80px 0;}

.cer-card {
    display: block;
    background: white;
    width: 400px;
}

.cer-image{
    width: 50%;
    border-radius: 12%;
    text-align: center;
    margin: a auto;
}